@using Microsoft.AspNetCore.Identity
@using Nemesys.Models

@inject UserManager<ApplicationUser> UserManager

@model Nemesys.ViewModels.Reports.ReportViewModel

@{
    ViewData["Title"] = "Report Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="card text-center">
    <div class="card-body" >
        <h2 class="card-title">@Model.Title</h2>
        <p class="card-text">@Model.description</p>
        <p class="small">Upvotes: @Model.upvotes</p>
        @*<p>@Html.ActionLink("Upvote", "Upvote", "Reports", new { id = Model.Id })</p>*@
        <a asp-controller="Reports" asp-action="Upvote" asp-route-id="@Model.Id">Upvote</a>
        @*<p class="small">@Model.location</p>*@
        <p class="small">Hazard Type: @Model.hazardType.hazardTypeName</p>
        <p class="small text-warning">Status: @Model.status</p>
        @if (Model.investigation != null)
        {
            <a asp-controller="Investigations" asp-action="Details" asp-route-id="@Model.investigation.Id">View Investigation</a>
        }
        @*<p class="small">Reporter: <a asp-controller="User" asp-action="ProfilePage" asp-route="@Model.Reporter.email">@Model.Reporter.email</a></p>*@
        <p class="small">Reporter: @Html.ActionLink(Model.Reporter.email, "ProfilePage", "User", new { email = Model.Reporter.email}, null) </p>
    </div>
    <img class="card-img-bottom" src="@Model.image" alt="Image for @Model.Title" style="
        width: 33%;
        display: block;
        margin-left: auto;
        margin-right: auto;
" />
    <div id="map"></div>
</div>
<div>
    @if(User.IsInRole("Admin") || User.IsInRole("Investigator"))
    {
        @*<a class="btn btn-primary" asp-controller="Investigations" asp-action="Create">Create Investigation</a>*@
        @Html.ActionLink("Create Investigation", "Create", "Investigations", new { reportId = Model.Id})
        <br />
    }

    @if (UserManager.GetUserAsync(User).Result.Id == Model.Reporter.idNum )
    {
        <a asp-controller="Reports" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <br />
    }
    @if (UserManager.GetUserAsync(User).Result.Id == Model.Reporter.idNum || User.IsInRole("Admin")) 
    { 
        <a asp-controller="Reports" asp-action="Delete" asp-route-id="@Model.Id" class="text-danger">Delete Report</a>
        <br />
    }
    <a asp-action="Index">Back to List</a>

</div>

<script type="text/javascript">
    var lat = @Model.latitude;
    var lng = @Model.longitude;
</script>

@section Scripts{
    @{await Html.RenderPartialAsync("_GoogleMapScriptsPartial");}
}
<script type="text/javascript" src="~/js/mapViewReport.js"></script>